*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 display: flex;
 justify-content: center;
 /* background: linear-gradient(#4ca1af, #c4e0e5); */
}

.gallery{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 15px;
 justify-content: center;
 align-items: center;
 padding: 20px;
}

.gallery img{
 cursor: pointer;
 height: 400px;
}

#lightbox{
 position: fixed;
 display: none;
 z-index: 100;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vh;
 background-color: rgba(0, 0, 0, .6);
}

#lightbox.active{
 display: flex;
 justify-content: center;
 align-items: center;
}

#lightbox img{
  height: 90%;
}